<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %> 

    <form action="/filter" method="post">
      <div class="sort-div">
        <select name="category" id="">
          <option >Choose</option>
          <option value="Science">Science</option>
          <option value="Arts">Arts</option>
          <option value="Fashion">Fashion</option>
          <option value="Business">Business</option>
          <option value="News">News</option>
          <option value="Politics">Politics</option>
          <option value="Other">Other</option>
      </select>
      <button> Show </button>
      </div>  
    </form>

    <div class="post-display">
      <% if(!POST.length == 0){ %>
      <% POST.forEach(post =>{ %>
    <form action="/blogs/delete" method="post">
      <div class="post">
        <button class="btn-del" name="deleteItem" value="<%= post.id %>" data-edit="0" >Delete</button>
        <h1>Title:  <%= post.title %></h1>
        <h5>Category: <%= post.category %></h5>
        <p>Description: <%= post.description %></p>
      </div>
    </form>
    <% }) %>
    <% }else { %>
        <div class="post">
            <h1>No Post to Show</h1>
        </div>
      <% } %>
    </div>
    
    <script>
      //   const color = () =>{
      //       let arr = ["orange", 'pink', 'green', 'skyblue',"gold"];

      //       arr.forEach((item,index)=>{
      //       let a = Math.ceil(Math.random()*4);
      //           document.getElementsByClassName("post")[0].style.backgroundColor = arr[a];
      //       })
      //   }
    </script>
  </body>
</html>
