<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    
    <div>
        <form class="update" action="/update" method="post">
            <table align="center" cellspacing="10" cellpadding="10">
                <!-- Table Heading part -->
                <thead>
                    <tr>
                        <th colspan="2"><h1 class="message"> Update Post</h1></th>
                    </tr>
                </thead>
                <!-- table Body part -->
                <tr>
                    <th>Post Name:</th>
                    <td><input name="postTitle" type="text" value="<%= title %>"></td>
                </tr>
                <tr>
                    <th>Category:</th>
                    <td>
                        <select name="category" id="">
                            <option ><%=category %></option>
                            <option value="Science">Science</option>
                            <option value="Arts">Arts</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Business">Business</option>
                            <option value="News">News</option>
                            <option value="Politics">Politics</option>
                            <option value="Other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Post Description:</th>
                    <td><textarea name="postDes" id="" cols="30" rows="10" ><%= description %></textarea></td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button name="id" type="submit" id="submit" value="<%= id %>"> Update </button> 
                        <button type="reset">Clear</button>
                    </th>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>



